astropy==6.1.0
astroquery==0.4.7
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
Pillow==10.3.0
pixell==0.23.14
scikit_learn==1.4.2
scikit-image
timm==0.9.16
torch==2.3.0
torch_optimizer==0.3.0
torchvision==0.18.0
tqdm==4.66.4
wget==3.2
